@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

a {
  color: #322F5C;
}

.title {
  font-family: 'Josefin Sans';
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.03em;
}

.descr {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #929292;
}

.btn1 a {
  font-size: 15px;
  line-height: 18px;
  position: relative;
}

.btn1 a::before {
  content: '';
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  right: -15px;
  bottom: 0;
  background: rgba(151, 201, 185, 0.42);
}

.btn1 a:active{
  -webkit-animation: btn1__anim 0.5s linear 1;
          animation: btn1__anim 0.5s linear 1;
}

@-webkit-keyframes btn1__anim {
  0% {
    left: 0;
  }
  25% {
    left: -5px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0;
  }
}

@keyframes btn1__anim {
  0% {
    left: 0;
  }
  25% {
    left: -5px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0;
  }
}

.wrapper {
  color: #322F5C;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1125px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  background: #edfaf6;
  padding: 20px 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  max-width: 1125px;
}

.header__logo img {
  width: 100%;
  max-width: 107px;
}

.header__login-text a {
  color: #97C9B9;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding: 0 0 0 25px;
  position: relative;
}

.header__login-text a:hover {
  color: #a8e2cf;
}

.header__login-text a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  background: url("../img/png/ico5.png") center center;
  width: 16px;
  height: 14px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  padding: 0 15px;
}

.menu__list li a {
  display: inline-block;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  position: relative;
}

.menu__list li a:hover {
  color: #97C9B9;
}

.menu__list li a:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #97C9B9;
  -webkit-animation: menu__anim 0.2s linear 1;
          animation: menu__anim 0.2s linear 1;
}

.menu__list li a:active {
  color: #aee7d5;
}

@-webkit-keyframes menu__anim {
  0% {
    width: 10%;
    left: 50%;
  }
  50% {
    width: 50%;
    left: 25%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}

@keyframes menu__anim {
  0% {
    width: 10%;
    left: 50%;
  }
  50% {
    width: 50%;
    left: 25%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}

.top {
  background: url("../img/png/bg-top.png") center center #EDFAF6;
  background-size: cover;
  border-bottom: 2px solid #E5EFF7;
}

.top__inner {
  padding: 200px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top__text {
  width: 100%;
  max-width: 480px;
}

.top__title {
  font-family: 'Josefin Sans';
  font-weight: 600;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: 0.03em;
}

.top__descr {
  padding: 0 0 22px 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #929292;
}

.top__img img {
  width: 100%;
  max-width: 480px;
}

.study {
  border-bottom: 2px solid #E5EFF7;
}

.study__inner {
  padding: 0 0 62px 0;
}

.study__top {
  text-align: center;
  padding: 46px 0 54px 0;
}

.study__items {
  padding: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -45.5px;
}

.study__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 21.4%;
          flex: 0 1 21.4%;
  margin: 0 45.5px;
  text-align: center;
}

.study__item-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding: 14px 0;
}

.study__item-descr {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #929292;
}

.study__btn {
  text-align: center;
}

.course {
  border-bottom: 2px solid #E5EFF7;
}

.course__inner {
  padding: 0 0 62px 0;
}

.course__top {
  text-align: center;
  padding: 46px 0 54px 0;
}

.course__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -13.5px;
}

.course__item {
  background: rgba(237, 250, 246, 0.51);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 17px 13px;
  margin: 13.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24.6%;
          flex: 0 1 24.6%;
}

.course__item-img {
  margin: 0 0 11px 0;
  position: relative;
}

.course__item-img img {
  width: 100%;
  max-width: 250px;
}

.course__item-mentor {
  position: absolute;
  bottom: -25px;
  right: 10px;
  width: 75px;
  height: 75px;
  background: #F6FCFA;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course__item-mentor img {
  width: 100%;
  max-width: 67px;
}

.course__item-subtitle {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #707070;
}

.course__item-title {
  margin: 5px 0;
  font-family: 'Josefin Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #322F5C;
}

.course__item-star {
  padding: 3px;
}

.course__item-star span {
  font-weight: 500;
  font-size: 9px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.course__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course__item-prices spann {
  display: inline-block;
}

.spoiler__item-list {
  display: none;
}
